{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}

		#studio {
			font-size: 100px;
			padding-left: 25px;
			font-family: Montserrat;
		}

		#controls {
			margin: auto;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg',

				// added the following 2 properties
				coloringHistory: [],
				index: 0
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];

						// somehow store mandala history
						mandala.coloringHistory.push();
				    }
				}
			}


			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>
<body>
	<div id = "studio" style="position: relative"> Studio </div>
	<canvas id="myCanvas" width="750px" height="750px" style="position: relative"></canvas>
	<div class = "row" id="color-palette" style="position: relative"></div>
		<div class = "row" id="newbuttons" style="position: relative">
			<button id="undo" onclick="undoFunc()">
				Undo
			</button>
			<button id="redo" onclick="redoFunc()">
				Redo
			</button>
			<button id="zoomin" onclick="zoomInFunc()">
				Zoom In
			</button>
			<button id="zoomout" onclick="zoomOutFunc()">
				Zoom Out
			</button>
		</div>

		<script type="text/javascript">
			var canvas = document.getElementById('myCanvas');
			function undoFunc() {
					if (index > 0) {
						// restore previous mandala state
						mandala.item = mandala.coloringHistory[index - 1];
						index = index -1;
					}
				}
	
				function redoFunc() {
					if (index < coloringHistory.length - 1) {
						// go forward to next mandala state
						mandala = coloringHistory[index + 1];
						index = index + 1;
					}
				}
	
				function zoomInFunc() {
					var canvasWidth = canvas.clientWidth;
					var canvasHeight = canvas.clientHeight;
					canvas.style.width = (canvasWidth * 2) + "px";
					canvas.style.height = (canvasHeight * 2) + "px";
				}
	
				function zoomOutFunc() {
					var canvasWidth = canvas.clientWidth;
					var canvasHeight = canvas.clientHeight;
					canvas.style.width = (canvasWidth / 2) + "px";
					canvas.style.height = (canvasHeight / 2) + "px";
				}
		</script>
</body>
</html>
